body{
    text-align:center;
    background: #2741e8;
}

#heading{
    height:200px;
    Width:100%;
 font-family: cursive;
   background-color:#6deda5;
    
}

#burger{
   width:400px;
    height:300px;
}

#pizza{
   width:400px;
    height:300px;
}


#favoritefood{
    
    background-color:#97d1f0 ;
}

img{
    transition: transform 2s;
}

img:hover{
    transform: scale(0.9);
    
}
